@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
/* font & colour*/
:root {
    --color-primary: hsl(185, 75%, 39%);
    --color-dark: hsl(229, 23%, 23%);
    --color-grey:hsl(227, 10%, 46%);
    --font-bold: 700;
    --font-light: 400;

  }
#bold{
    font-weight: var(--font-bold);
}

#light{
    font-weight: var(--font-light);
}

body{
    background-color: rgba(27,161,173,255);
    background-image: url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -150px -400px, 600px 300px;
    background-size: 60%,60%;
    font-family: 'Kumbh Sans', sans-serif;  
}

.container{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(192, 192, 192);
    
}
 
 .flex-container-card{
     display: flex;
     justify-content: center;
     flex-direction: row;
     background-color: white;
 }

 .flex-container-element{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-container-card > div {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }

#avatar-bg{
    border-radius: 15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:100px;
    z-index: 1;
    width:30%;
    height:100px;
}

#avatar-layer{
    
    z-index: 4;
    padding-top:11%;
    border-radius: 50%;
}

#avatar{
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

